@using Korrekturmanagementsystem.Components.Pages.Auth
@using Microsoft.AspNetCore.Components.Routing

<div class="sidebar-content d-flex flex-column h-100">
    <div>
        <div class="mb-4 text-center">
            <h4 class="fw-bold">KMS</h4>
        </div>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item mb-2">
                <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">
                    <i class="bi bi-house"></i> Home
                </NavLink>
            </li>
            <li class="nav-item mb-2">
                <NavLink href="/meldungen" class="nav-link">
                    <i class="bi bi-card-list"></i>Meldungen
                </NavLink>
            </li>
        </ul>
    </div>
    <div class="user-menu mt-auto d-md-none p-3">
        <AuthorizeView Context="authState">
            <Authorized>
                <div class="d-flex align-items-center gap-2">
                    <i class="bi bi-person-circle"></i>
                    <span class="small">
                        <strong>@authState.User.Identity?.Name</strong>
                    </span>
                    <Logout />
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="d-flex flex-column gap-1">
                    <a href="/account/registrieren" class="btn btn-outline-secondary btn-sm w-100">Registrieren</a>
                    <a href="/account/login" class="btn btn-dark btn-sm w-100">Login</a>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>


<style>
    .user-menu {
        border-top: 1px solid #eee;
        margin-top: 1rem;
        padding-top: 1rem;
    }

    .sidebar {
        width: 250px;
        min-height: 100vh;
        background: #fff;
    }

    .nav-link {
        color: #333;
        font-weight: 500;
    }

        .nav-link.active {
            background-color: #000 !important;
            color: #fff !important;
            border-radius: 0.5rem;
        }

        .nav-link:hover {
            background-color: #000 !important;
            color: #fff !important;
        }
</style>

