@page "/access-denied";
<h3>Access Denied</h3>

<p>Sorry, you do not have permission to access this page. Please </p>
<a href="/account/login">Login</a> or <a href="/account/registrieren">Register</a> to gain access.
