@page "/administration"
@using Korrekturmanagementsystem.Dtos
@using Korrekturmanagementsystem.Services.Interfaces
@inject IRoleService RoleService
@inject IMaterialService MaterialService
@rendermode InteractiveServer

<h3>Administration</h3>

@if (loaded)
{
    <Role Roles="roles" OnAddRole="AddRoleAsync" />
    <Material MaterialTypes="materialTypes" OnAddMaterialType="AddMaterialTypeAsync" />
}
else
{
    <p>Lade...</p>
}

@code {
    private bool loaded = false;
    private List<RoleDto> roles = new();
    private List<MaterialTypeDto> materialTypes = new();

    protected override async Task OnInitializedAsync()
    {
        roles = (await RoleService.GetStakeholderRolesAsync()).ToList();
        materialTypes = (await MaterialService.GetMaterialTypesAsync()).ToList();
        loaded = true;
    }

    private async Task AddRoleAsync(string name)
    {
        await RoleService.AddStakeholderRoleAsync(name);
        roles = (await RoleService.GetStakeholderRolesAsync()).ToList();
    }

    private async Task AddMaterialTypeAsync(string name)
    {
        await MaterialService.AddMaterialTypeAsync(name);
        materialTypes = (await MaterialService.GetMaterialTypesAsync()).ToList();
    }

}
