@page "/user"
@using Korrekturmanagementsystem.Dtos
@using Korrekturmanagementsystem.Services.Interfaces

@inject IUserService userService;

<h3>User Administration</h3>
<div class="row">
    <div class="col-md-4">
        <h4>Users</h4>
        <ul>
            @if (users is not null)
            {
                @foreach (var user in users)
                {
                    <li>@user.Username</li>
                }
            }
            else
            {
                <li>Lade Benutzer...</li>
            }
        </ul>
    </div>
</div>

@code {
    private IEnumerable<UserDto>? users;

    protected override async Task OnInitializedAsync()
    {
        users = await userService.GetAllUsersAsync();
    }
}
