@page "/meldungen/neu"
@using System.Text
@using Korrekturmanagementsystem.Dtos
@using Korrekturmanagementsystem.Dtos.Report
@using Korrekturmanagementsystem.Models
@using Korrekturmanagementsystem.Services.Interfaces
@using Microsoft.AspNetCore.Components.Forms
@inject IReportService ReportService
@inject NavigationManager Navigation
@rendermode InteractiveServer

@if (_model.Options != null)
{
    <h3 class="mb-4">Meldung hinzufügen</h3>

    <ReportForm Model="@_model"
                IsEdit="false"
                ShowMessage="@_message"
                OnValidSubmit="HandleValidSubmit"
                SelectedTagsChanged="HandleSelectedTagsChanged" />

    <FileUploadPanel OnFilesChanged="files => _selectedFiles = files.ToList()" />
}

@code {
    public ReportModel _model { get; set; } = new();
    private List<IBrowserFile> _selectedFiles = new();
    private List<TagDto> _selectedTags = new();
    private string _message = "";

    protected override async Task OnInitializedAsync()
    {
        var options = await ReportService.GetFormOptionsAsync();
        _model.Options = options;
    }

    private async Task HandleValidSubmit()
    {
        var result = await ReportService.AddReportAsync(_model, _selectedTags, _selectedFiles);

        _message = result.Message ?? "Unbekannter Fehler.";

        await Task.Delay(3500);
        Navigation.NavigateTo("/meldungen");
    }

    private Task HandleSelectedTagsChanged(List<TagDto> tags)
    {
        _selectedTags = tags;
        return Task.CompletedTask;
    }
}
